[
    {
        "name": "Test a baboon.",
        "files": [ "babouin.c", "babouin2.c" ],
        "compilation_cmd": "clang babouin.c babouin2.c -o babouin -I."
    },
    {
        "name": "Test a baboon with a define.",
        "files": [ "define_baboon.c" ],
        "compilation_cmd": "clang define_baboon.c -D WORLD=$(hostname)"
    },
    {
        "name": "Test a super baboon.",
        "files": [ "babouin.cpp" ]
    },
    {
        "name": "Test a super baboon on STLroids.",
        "files": [ "stl-baboon.cpp" ]
    },
    {
        "name": "Test a super baboon on STLroids WITH entry point.",
        "files": [ "stl-baboon-and-main.cpp" ]
    }
]




